@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* .botvideo {
    width: 100%;      
    height: 100%;      
    object-fit: cover; 
    position: absolute; 
    top: 0;
    left: 0;
    z-index: -1; 
} */

.main {
    display: flex;
    flex-direction: column;
    /* border: 3px solid yellow; */
    overflow: hidden;
    position: relative;
    height:90vh; 
}
.content1{
    color: white;
    margin: 50px;
    position: relative;
    font-size: 120px;
    padding-top: 10px;
    /* max-height:500px; */
}
h3 span{
    color:rgb(229, 132, 13);
    font-weight: 800;
}

.downer {
    /* margin-top: 5%; */
    margin-bottom: 2%;
    margin-left: 10%;
    /* margin: 20% auto 0 auto;  */
    width: 60%; 
    /* padding-top: 20px;  */
    position: relative; 
    z-index: 10; 
}

@media (max-width: 768px){
    .downer {
        margin-top: 10%; 
        padding-top: 10%; 
    }
    .main{
        height: 100vh;
    }
}