.form-container{
    margin-top: 50px;
    border: 1px solid whitesmoke;
    border-radius: 15px;
    width: 60%;
    height: 75vh;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
}
.inputs{
    display: flex;
    flex-direction: column;
    margin: 15px;
    gap: 25px;
}
.inputs input{
    margin: auto;
    border: 1px solid brown;
    border-radius: 5px;
    height: 25px;
    width: 70%;
    padding: 5px;
    color: blue;
    text-align: center;
    font-weight: 700;
}
.submiters button{
    cursor: pointer;
    background-color: blue;
    color: white;
    height: 50px;
    width: 100px;
    border-radius: 10px;
}
.submiters{
    margin-top:5%;
}
.botpavan{
    margin-top: 50vh;
    border: 1px solid red;
    color: white;
    border-radius: 10px;
    background-color: blue;
    margin-left: 40px;
}